{% extends "base_generic.html" %}

{% block content %}
  <h1>Inventory List</h1>
  {% if inventory_list %}
  <ul>
    {% for inventory in inventory_list %}
      <li>
        <a href="{{ inventory.get_absolute_url }}">{{ inventory.name }}</a> <!--({{inventory.description}})-->
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no inventorys.</p>
  {% endif %}
{% endblock %}
