{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ inventory.name }}</h1>

  <p><strong>Name:</strong> <a href="">{{ inventory.name }}</a></p> 
  <p><strong>Summary:</strong> {{ inventory.description }}</p>
  <p><strong>Genre:</strong> {{ inventory.genre.all|join:", " }}</p>

  <!-- <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in inventory.inventoryinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div> -->
{% endblock %}
