{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Inventory </h1>
 
  
  <p>The inventory has the following record counts:</p>
  <ul>
    <li><strong>Inventorys:</strong> {{ num_inventorys }}</li>
    <li><strong>Inventory status:</strong> {{ num_instances }}</li>
    <li><strong>Inventory available:</strong> {{ num_instances_available }}</li>
    <li><strong>Suppliers:</strong> {{ num_suppliers }}</li>
  </ul>
{% endblock %}
